<section class="rich-text">
  <div>
    <h2>{{ section.settings.title }}</h2>
    <p>{{ section.settings.text }}</p>
  </div>
</section>

{% schema %}
{
  "name": "Rich Text",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "About Us"
    },
    {
      "type": "textarea",
      "id": "text",
      "label": "Text",
      "default": "This is a sample store created using Shopify."
    }
  ],
  "presets": [
    {
      "name": "Rich Text"
    }
  ]
}
{% endschema %}
